.page {
    width: 1000px;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}

.header {
    width: 900px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto 33px;
}

.header__logo {
    width: 106px;
    margin: 0 10px 0 0;
}

.header__menu {
    width: 784px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 30px;
}

.header__menu-list {
    display: flex;
    align-items: flex-end;
    list-style: none;
    gap: 12px;
    margin: 0;
    padding: 0;
}

.content {
    width: 90%;
    margin: 0 auto;
}

.content__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 38px 0;
}

.content__title {
    width: 710px;
    font-size: 65px;
    line-height: 70px;
    margin: 0 0 25px 0;
}

.content__image {
    width: 260px;
    height: 274px;
}

.content_paragraph {
    width: 550px;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
}

.footer {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 15px 60px 0;
}

.footer__copyright {
    padding: 0 0 60px 15px;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
}